<div class="query-results">
  <% if @results %>
    <table class="table table-responsive">
      <thead>
        <tr>
          <% @results.first.keys.each do |attribute| %>
            <td><%= attribute %></td>
          <% end %>
        </tr>
      </thead>
      <% @results.each do |record| %>
        <tr>
          <% record.each do |attribute, value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </table> 
  <% end %>
</div>